.image {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.liked {
  path {
      stroke: red !important;
  }
}

.notLiked {
  path {
      stroke: black !important;
  }
}